<%- include('../partials/header') %>

<h2>Edit Comment</h2>

<% if (user) { %>
    <form id="add-comment-form" method="POST" 
     action="/comments/<%= comment._id %>?_method=PUT">
      <label>Comment:</label>
      <textarea name="content"><%= comment.content %></textarea>
      <label>Sauce Level:</label>
      <select name="Sauce Level" value="<%= comment.rating %>">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Edit The Sauce">
    </form>
  <% } %>

 <%- include('../partials/footer') %>