<%- include('../partials/header') %>

<h1>Daily Driven</h1>
    <table>
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Engine</th>
            </tr>
        </thead>
        <tbody>
            <% autoblogs.forEach(function(a) { %>
                <tr>
                    <td><%= a.make %></td>
                    <td><%= a.model %></td>
                    <td><%= a.engine %></td>
                    <td><a href="/autoblogs/<%= a._id %>">DETAILS</a></td>
                </tr>

            <% }); %>
        </tbody>
    </table>
<div class="row">
    <div class="column">
        <img src="https://imgur.com/ru13iNG.jpg">
        <img src="https://imgur.com/GqOT99m.jpg">
        <img src="https://imgur.com/mjVNQNR.jpg">
        <img src="https://imgur.com/02i40iq.jpg">
        <img src="https://imgur.com/dw95BBA.jpg">
        <img src="https://imgur.com/eqR7gjL.jpg">
        <img src="https://imgur.com/ekwAH8Z.jpg">
    </div>
    <div class="column">
        <img src="https://imgur.com/klPs3Qe.jpg">
        <img src="https://imgur.com/F7HZppr.jpg">
        <img src="https://imgur.com/4N8fzZs.jpg">
        <img src="https://imgur.com/xjxKcZl.jpg">
        <img src="https://imgur.com/XSKPMnS.jpg">
        <img src="https://imgur.com/Cd5lrkd.jpg">
        <img src="https://imgur.com/BJWUODx.jpg">
    </div>

<%- include('../partials/footer') %>