<%- include('../partials/header') %>

<br><section id="show-page">
  <div>Make: </div>
  <div><%= autoblog.make %></div>
  <div>Model: </div>
  <div><%= autoblog.model %></div>
  <div>Engine: </div>
  <div><%= autoblog.engine %></div>
</section>

<br><br><h2>Comments</h2>

<% if (user) { %>
  <form id="add-comment-form" method="POST"
    action="/comments/<%= autoblog._id %>">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    <label>Sauce Level:</label>
    <select name="Sauce Level">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Sauce">
  </form>
<% } %>

<% if (autoblog.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% let sum = 0; %>
      <% autoblog.comments.forEach(function(c) { %>
        <% sum += c.rating %>
        <tr>
          <td class="comment-user"><img src="<%= c.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"><%= c.userName %></td>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
          <td><%= c.rating %></td>
          <td>
            <% if ( user?._id.equals(c.user) ) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button> 
              </form>
              <% } %>
              <% if ( user?._id.equals(c.user) ) { %>
              <a href="/comments/<%= c._id %>/edit">
                <button type="submit">Edit</button>
              </a>
              <% } %>
          </td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          <td><%= (sum / autoblog.comments.length).toFixed(2) %></td>
        </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
